<div>
  <nav class="navbar navbar-dark bg-primary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/images/icons8-book-80.png" width="30" alt="E-Book" class="d-inline-block align-text-top">
        E-Books
      </a>
      <a class="navbar-brand" href="https://github.com/Allysonubius" target="_blank">
        <img src="../../../assets/images/icons8-github-250.png" alt="Github" width="30" class="d-inline-block align-text-top">
      </a>
    </div>
  </nav>
</div>
